  /* Animatie Page */
  #col {
    top: 95%;
}
#header-text {
    margin-left: 2rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}
  #animatie {
    width: 80%;
}
iframe {
    margin-top: 2rem;
    box-shadow: 0px 0px 500px 10px rgba(102, 0, 255, 0.635);
}