#col {
    top: 250%;
}
#header-text {
    margin-left: 2rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}
video {
    width: 50%;
}
li {
    list-style: none;
}
#a {
    width: 70%;
}
/* Responsive */
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    #col {
      margin-top: -115rem;
      height: 50%;
      width: 50%;
    }
    video {
        width: 200%;
    }
    #col #content {
      margin-top: -30rem;
      width: 100%;
    }
  }