body,html {
	margin: auto;
	font-family: var(--ff-primary);
	background-color: var(--dark);
	color: var(--light);
	font-size: var(--fs-body);
    line-height: 1.6;
    scroll-behavior: smooth;
    background-image: url(/img/background.jpg);
    box-sizing: border-box;
    --duration: .7s;    

}
    /* Variables */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
        
    --fw-reg: 300;
    --fw-bold: 900;
        
    --light: #fff;
    --dark: #000;
    --gray: #2A2A2A;
    --accent: cornflowerblue;
        
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1rem;
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.4rem;
        --fs-body: 1.1rem;
    }
}   
strong { font-weight: var(--fw-bold) }
:before,
:after {
    content: '';
}
    /* Typography */
h1,
h2,
h3 {
    line-height: 1,1;
    margin: 0;
}
h1 {font-size: var(--fs-h1) }
h2 {font-size: var(--fs-h2) }
h3 {font-size: var(--fs-h3) }

::-webkit-scrollbar {
	width: 1rem;
}
::-webkit-scrollbar-track {
	background: var(--dark);
}
::-webkit-scrollbar-thumb {
	background: var(--accent);
}

* {
  display: flexbox;
}
  /* Lists Decoration */
a {
    font-style: none;
    color: var(--light);
    text-decoration: none;
}
    /* Header */
#header {
    width: 100%;
    background-color: var(--dark);
    border-bottom: 1px solid white;
}
#header-text {
    margin-left: 2rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

/* Menu */
.menu {

  margin: 0;
  display: flex;
  /* Works well with 100% width  */
  width: 15em;
  font-size: 1.5em;
  padding: 0 2.85em;
  position: relative;
  float: right;
  align-items: center;
  justify-content: center;
  
}

.menu__item{
  all: unset;
  flex-grow: 2;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  
}

.menu__item::before{
  content: "";
  z-index: -1;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}


.menu__item.active {
  transform: translate3d(0, -0.3em , 0);
  -webkit-transform: translate3d(0, -0.3em , 0);
  -moz-transform: translate3d(0, -0.3em , 0);
  -ms-transform: translate3d(0, -0.3em , 0);
  -o-transform: translate3d(0, -0.3em , 0);
}

.menu__item.active::before{
  transform: scale(1);
  background-color: var(--bgColorItem);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}


/* Content */
#col {
    position: absolute;
    display: inline-block;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
#col-title {
    font-weight: var(--fw-bold);
}
/* Carrousel */
#content{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 750px;
    overflow: hidden;
    box-shadow: 0px 0px 500px 5px var(--light);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
  #content #images{
    height: 100%;
    width: 100%;
  }
  #images img{
    height: 100%;
    width: 100%;
  }

/* Responsive */
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  #header {
    width: 100%;
  }
  #col {
    margin-top: 20rem;
    height: 50%;
    width: 50%;
  }
  
  #col #content {
    margin-top: -30rem;
    width: 100%;
  }
  .menu {
    left: 1em;
  }
}